@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family: 'Fjalla One', sans-serif;

}
.main_div{
    width: 100%;
    height: 100vh;
    background-color:gainsboro;
    display: grid;
    place-items: center;
}
.music_container{
    width: 35em;
    height: 55rem;
    background-color:#ffffff;
    border-radius: 2rem;
    box-shadow: 0 1.2rem 3rem 0.5rem rgba(0, 0, 0, 0.5);
    padding: 3rem;
    text-align: center;

}
.music_container #title{
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    word-spacing: 0.5rem;
    color: #171717;
    margin: 2 rem 0 0.5rem 0;
    font-size: 2.5rem;
    font-weight: 500;
    text-shadow: 0 0.3rem 0.5rem rgba(0,0,0,0.3);
}
.music_container #artist{
    color:#304ffe;
    text-transform: capitalize;
    letter-spacing: 0.1rem;
    font-size: 2rem;
    margin-bottom: 4rem;
    font-weight: 300;
}
.img_container{
    width: 25rem;
    height: 25rem;
    margin: auto;
}
img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.music_controls .fas{
    color: #030a16;
    font-size: 2rem;
    cursor: pointer;
    filter: drop-shadow(0 1.2rem 3rem 0.5rem rgba(0, 0, 0, 0.5));

}
.music_controls{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-top: 5rem;
}
.music_controls .main_button{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: #020514;
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;

}
.music_controls .fas:hover{
    color: darkgoldenrod;
}
.music_controls .fa-play:hover{
    background-color: #f6f6f6;
    color: #020514;
    box-shadow: 0 1.2rem 3rem 0.5rem rgba(0, 0, 0, 0.5);
}
/* add anime class to animate */
.anime{
    animation: TJ 4s linear infinite;
}

@keyframes TJ {
    from {transform: rotate(0deg);}
    to{
        transform: rotate(360deg);

    }
}
